<div id="div1" class="bg-white p-4">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4  text-end"> <h6><i class="far fa-address-book"></i> Contact :</h6> </div>
                <div class="col-8 "> <h6>9494349207</h6></div>
            </div>
            <div class="row">
                <div class="col-4 text-end"> <h6><i class="fab fa-whatsapp-square rounded text-success"></i> Whatsapp :</h6> </div>
                <div class="col-8 "> <h6> 9390408338</h6></div>
            </div>
            <div class="row">
                <div class="col-4  text-end"> <h6><i class="far fa-envelope text-danger"></i> Email :</h6> </div>
                <div class="col-8 "> <h6>Shiva.thatishetti123@gmail.com</h6></div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5 ">
            <div class="row">
            <div class="col-4  text-end"> <h6><i class="fab fa-instagram bg-danger rounded text-white"></i> Instagram :</h6> </div>
            <div class="col-8 "> <h6>Shiva_sms</h6></div>
            </div>
            <div class="row">
            <div class="col-4  text-end"> <h6><i class="fab fa-facebook-square bg-white text-primary"></i> Facebook :</h6> </div>
            <div class="col-8 "> <h6>shivasms</h6></div>
            </div>
            <div class="row">
            <div class="col-4 text-end"> <h6><i class="fab fa-snapchat text-warning"></i> Snapchat :</h6> </div>
            <div class="col-8 "> <h6>Srikashi@123</h6></div>
            </div>

        </div>
    </div>
</div>