
   
      <div id="main" class=" w-75 mt-1 mx-auto  d-flex flex-wrap flex-column">
         <!--main content-->
          <div>
              <h1 class="text-center display-5  rounded" id="text">Enters Login Details</h1>
              <!--form page-->
              <form class="mt-5">
                 <!--user name-->
                 <div class="mt-4 row">
                    <div class="col-4">
                      <label for="un" class="text-dark float-end"><h4>Username</h4></label></div>
                    <div class="col-8">
                      <input type="text" autocomplete="off" name="Username" id="un" class="form-control float-start w-50 ">
                   </div>
                </div>
                <!-- password -->
                <div class="mt-4 row">
                   <div class="col-4">
                     <label for="ps" class="text-dark float-end"><h4>Password</h4></label></div>
                   <div class="col-8">
                     <input type="password" autocomplete="off" name="password" id="ps" class="form-control float-start w-50 ">
                  </div>
               </div>
                <!--submit Button-->
                <button type="submit" class="btn d-block mx-auto mt-3 btn-success">Login</button>
             </form>
          </div>
       </div>
   