<div id="main" >
    <div >
        <div class="row">
            <div class="col-4 text-info text-end"> <h2>Contact :</h2> </div>
            <div class="col-8 text-info"> <h2>9494349207</h2></div>
        </div>
        <div class="row">
            <div class="col-4 text-info text-end"> <h2>Whatsapp :</h2> </div>
            <div class="col-8 text-info"> <h2> 9390408338</h2></div>
        </div>
        <div class="row">
            <div class="col-4 text-info text-end"> <h2>Email :</h2> </div>
            <div class="col-8 text-info"> <h2>Shiva.thatishetti123@gmail.com</h2></div>
        </div>
        <div class="row">
        <div class="col-4 text-info text-end"> <h2>Instagram :</h2> </div>
        <div class="col-8 text-info"> <h2>Shiva_sms</h2></div>
        </div>
        <div class="row">
        <div class="col-4 text-info text-end"> <h2>Facebook :</h2> </div>
        <div class="col-8 text-info"> <h2>shivasms</h2></div>
        </div>
        <div class="row">
        <div class="col-4 text-info text-end"> <h2>Snapchat :</h2> </div>
        <div class="col-8 text-info"> <h2>Srikashi@123</h2></div>
        </div>
    </div>
</div>
