<section class="contact " style="margin-bottom: 200px;">

    <!--Section heading-->
    <h2 class="h1-responsive text-dark font-weight-bold text-center my-4 display-4" style="font-family: fantasy;">Contact us</h2>
    <!--Section description-->
    <h5 class="text-center w-responsive text-dark mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. <br> Our team will come back to you within
        a matter of hours to help you.</h5>
 
    <div class="row">
 
         <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
 
                <!--Grid row-->
                <div class="row">
 
                    <div class="col-md-6">
                        <div class="md-form mb-3">
                            <label for="name" class="text-dark">Your name</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
     
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="text-dark">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                           
                        </div>
                    </div>
 
                </div>
             
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="text-dark">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row " >
 
                    <div class="col-md-12">
 
                        <div class="md-form">
                            <label for="message" class="text-dark">Your message</label>
           
                            <textarea type="text" id="message" name="message" rows="5" class="form-control md-textarea"></textarea>
                           
                        </div>
 
                    </div>
                </div>
              
 
            </form>
 
            <div class="text-center text-md-left">
                <a class="btn btn-success mt-5 px-4">Send</a>
            </div>
            <div class="status"></div>
        </div>
       
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt text-primary fa-2x"></i>
                    <p class="text-dark">Hyderabad bhachupally, VNR College,CSE</p>
                </li>
 
                <li><i class="fas fa-phone mt-4 text-dark fa-2x"></i>
                    <p  class="text-dark">+ 91 94943-49207</p>
                </li>
 
                <li><i class="fas fa-envelope mt-4 fa-2x text-danger"></i>
                    <p class="text-dark">Shiva.thatishetti123@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
 
    </div>
 
 </section>
 <!--Section: Contact v.2-->
 
