<form  (ngSubmit)='onSubmitNewMobile()' style="margin-bottom: 300px;">
    <!--Brand-->
    <div class="mt-4 row">
       <div class="col-4">
         <label for="un" class="text-dark float-end"><h4>Brand</h4></label></div>
       <div class="col-8">
         <input type="text" autocomplete="off" name="Brand" id="un" class="form-control float-start w-50 " [(ngModel)]="mobileModel.Brand">
      </div>
   </div>
   <!-- Image -->
   <div class="mt-4 row">
      <div class="col-4">
        <label for="ps" class="text-dark float-end"><h4>Image</h4></label></div>
      <div class="col-8">
        <input type="text" name="Image" id="ps" class="form-control float-start w-50 " [(ngModel)]="mobileModel.Image">
     </div>
  </div>
   <!--Model-->
    <div class="mt-4 row">
      <div class="col-4">
        <label for="dob" class="text-dark float-end"><h4>Model</h4></label></div>
      <div class="col-8">
        <input type="text" autocomplete="off" name="Model" id="dob" class="form-control float-start w-50 " [(ngModel)]="mobileModel.Model">
     </div>
  </div>
   <!--submit Button-->
   <button type="submit" class="btn d-block mx-auto mt-3 btn-success">Add</button>
</form>
