/* .form-control
{
    border: none;
    box-shadow: none !important;
    border-bottom: 3px solid black;
    border-radius: 0%;
}
.btn
{
    border-radius: 0%;
    box-shadow: none;

}
.deleteBtn
{
   margin-left: 270px;
   text-align: end;
   margin-left: 500px;
} */


.active
{
    font-weight: bold;    
}