<!-- 
  <div class="border border-1 w-75 h-25 shadow   border-dark">
    <h1 class="heading bg-secondary text-white text-center p-3 ">TECHNOLOGIES</h1>
    <div class=" m-3">
      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 ">
        <app-cards></app-cards>
        <app-cards2></app-cards2>
        <app-cards3></app-cards3>
        <app-cards4></app-cards4>
        <app-cards5></app-cards5>
        <app-cards6></app-cards6>
      </div>
    </div>
  </div>
</div>
           -->


           <app-products></app-products>