<!-- create navbar -->
<div class="navbar bg-light navbar-light navbar-expand-sm"> 
  <div class="collapse navbar-collapse" id="nv">
          <!-- <div class="row px-5 ">
              <div class="col-sm-8 col-md-7 py-3">
                  <h4 class="text-white">About</h4>
                  <p class="text-muted">Add some information about the album below, the author, or any 
                      other background context. Make it a few sentences long so folks can pick up some informative tidbits. 
                      Then, link them off to
                       some social networking sites or contact information.
                  </p>
              </div>
              <div class="col-sm-4 offset-md-1 py-3 box-shadow">
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled">
                      <li> <a href="#" class="text-white">Follow on Twitter</a></li>
                      <li><a href="#" class="text-white">Likes on Facebook</a></li>
                      <li><a href="#" class="text-white">Email me</a></li>
                  </ul>
              </div>
          </div> -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a routerLink="home" class="nav-link" routerLinkActive='active'>Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="register" class="nav-link" routerLinkActive='active'>Register</a>
            </li>
            <li class="nav-item">
              <a routerLink="login" class="nav-link" routerLinkActive='active'>Login</a>
            </li>
            <li class="nav-item">
              <a routerLink="contactUs" class="nav-link" routerLinkActive='active'>Contact us</a>
            </li>
            <li class="nav-item">
              <a routerLink="products" class="nav-link" routerLinkActive='active'>Products</a>
            </li>
          </ul>
  </div>
  <button class="me-5 navbar-toggler" data-bs-toggle=collapse data-bs-target=#nv >
      <span class="navbar-toggler-icon"></span>
  </button>
</div>


<div class="container">
  <!-- <app-products></app-products> -->
  <router-outlet></router-outlet>
</div>
<app-footer class="mt-auto"></app-footer>