<table class="table table-hover table-bordered table-striped bg-white text-dark text-center"  style="margin-bottom: 200px;margin-top: 100px; " >
    <thead class="text-dark table bg-primary  text-bold border-bottom border-1 border-dark border">
        <tr >
            <th rowspan="3">User Id</th>
            <th rowspan="3">Name</th>
            <th rowspan="3">User Name</th>
            <th rowspan="3">Email</th>
            <th colspan="6">Address</th>
            <th rowspan="3">Phone</th>
            <th rowspan="3">Website</th>
            <th colspan="3">Company</th>
        </tr>
        <tr>
            <th rowspan="2">Street</th>
            <th rowspan="2">Suite</th>
            <th rowspan="2">City</th>
            <th rowspan="2">Zip Code</th>
            <th colspan="2">Geo</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Catch Phrase</th>
            <th rowspan="2">BS</th>
        </tr>
        <tr>
            <th>Lat</th>
            <th>Lng</th>
        </tr>
    </thead>
    <tbody class="text-dark  border-bottom border-1 border-dark border">
        <tr  *ngFor=" let arr of array">
            <td>{{arr.id}}</td>
            <td>{{arr.name}}</td>
            <td>{{arr.username}}</td>
            <td>{{arr.email}}</td>
            <td>{{arr.address.street}}</td>
            <td>{{arr.address.suite}}</td>
            <td>{{arr.address.city}}</td>
            <td>{{arr.address.zipcode}}</td>
            <td>{{arr.address.geo.lat}}</td>
            <td>{{arr.address.geo.lng}}</td>
            <td>{{arr.phone}}</td>
            <td>{{arr.website}}</td>
            <td>{{arr.company.name}}</td>
            <td>{{arr.company.catchPhrase}}</td>
            <td>{{arr.company.bs}}</td>
        </tr>
    </tbody>
</table>