
<div class="btn-group mt-5 w-100" role="group" aria-label="Basic example">
    <button type="button" routerLink="phones" routerLinkActive="active" class="btn border border-3 border-warning   text-white p-2">Mobiles</button>
    <button type="button" routerLink="laptops" routerLinkActive="active" class="btn border border-3 border-warning  text-white">Laptops</button>
    <button type="button" routerLink="bikes" routerLinkActive="active" class="btn border border-3 border-warning  text-white">Bikes</button>
</div>
   <div class="container">
     <router-outlet></router-outlet>
   </div>
   
   

