<table class="table  table-bordered table-striped  table-hover bg-white text-dark text-center" style="margin-top: 100px;">
  <thead class="text-dark table bg-primary  text-bold border-bottom border-1 border-dark border">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Color</th>
          <th>pantone value</th>
          <th>Year</th>
      </tr>
  </thead>
  <tbody class="text-dark border-bottom border-1 border-dark border">
      <tr *ngFor="let obj of user.data" >
          <td>{{obj.id}}</td>
          <td>{{obj.name}}</td>
          <td>{{obj.color}}</td>
          <td>{{obj.pantone_value}}</td>
          <td>{{obj.year}}</td>
      </tr>
  </tbody>
</table>