/* You can add global styles to this file, and also import other style files */
body
{
    background-image: linear-gradient(to right,rgb(2, 2, 59),rgb(30, 30, 175)) ;
    background-size: 100%,100%;
    background-attachment: fixed;
}