/* You can add global styles to this file, and also import other style files */
body
{
    background-image: linear-gradient(to right, rgb(61, 61, 85),rgb(165, 165, 180)) ;
    background-size: 100%,100%;
    background-attachment: fixed;
}